<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.chenshu.mapper.ArticleMapper">



    <select id="selectTags" parameterType="integer" resultType="team.chenshu.entity.Article">
        SELECT id,tags FROM blogs_article where  FIND_IN_SET(#{tag},tags)
    </select>

    <select id="selectPageVo" parameterType="integer" resultType="team.chenshu.entity.vo.ArticleVo">
        SELECT id,title,author,is_show,is_top,is_original,addtime,click,cid,content,description,tags FROM blogs_article where  FIND_IN_SET(#{tag},tags)
    </select>


    <select id="selectTagsOrderbyClick" resultType="team.chenshu.entity.Article">
        SELECT id,tags,click FROM blogs_article order by click desc
    </select>



    <select id="selectPageFromHot" resultType="team.chenshu.entity.vo.ArticleVo">
        SELECT id,title,author,is_show,is_top,is_original,addtime,click,cid,description,tags FROM blogs_article order by click desc
    </select>



    <select id="selectTagsOrderbyTime" resultType="team.chenshu.entity.Article">
        SELECT id,tags,click,addtime FROM blogs_article order by click,addtime desc
    </select>

    <select id="selectPageFromTime" resultType="team.chenshu.entity.vo.ArticleVo">
        SELECT id,title,author,is_show,is_top,is_original,addtime,click,cid,description,tags FROM blogs_article order by click,addtime desc
    </select>



</mapper>
